ch_6/Nielsen_Slides_chap6_18.pdf
ch_6/Nielsen_Slides_chap6_Theano.pdf
ch_6/data/MNIST/raw/t10k-images-idx3-ubyte
ch_6/data/MNIST/raw/t10k-images-idx3-ubyte.gz
ch_6/data/MNIST/raw/t10k-labels-idx1-ubyte
ch_6/data/MNIST/raw/t10k-labels-idx1-ubyte.gz
ch_6/data/MNIST/raw/train-images-idx3-ubyte
ch_6/data/MNIST/raw/train-images-idx3-ubyte.gz
ch_6/data/MNIST/raw/train-labels-idx1-ubyte
ch_6/data/MNIST/raw/train-labels-idx1-ubyte.gz
data/mnist.pkl.gz
data/EMNIST/raw/emnist-balanced-test-images-idx3-ubyte
data/EMNIST/raw/emnist-balanced-test-labels-idx1-ubyte
data/EMNIST/raw/emnist-balanced-train-images-idx3-ubyte
data/EMNIST/raw/emnist-balanced-train-labels-idx1-ubyte
data/EMNIST/raw/emnist-byclass-test-images-idx3-ubyte
data/EMNIST/raw/emnist-byclass-test-labels-idx1-ubyte
data/EMNIST/raw/emnist-byclass-train-images-idx3-ubyte
data/EMNIST/raw/emnist-byclass-train-labels-idx1-ubyte
data/EMNIST/raw/emnist-bymerge-test-images-idx3-ubyte
data/EMNIST/raw/emnist-bymerge-test-labels-idx1-ubyte
data/EMNIST/raw/emnist-bymerge-train-images-idx3-ubyte
data/EMNIST/raw/emnist-bymerge-train-labels-idx1-ubyte
data/EMNIST/raw/emnist-digits-test-images-idx3-ubyte
data/EMNIST/raw/emnist-digits-test-labels-idx1-ubyte
data/EMNIST/raw/emnist-digits-train-images-idx3-ubyte
data/EMNIST/raw/emnist-digits-train-labels-idx1-ubyte
data/EMNIST/raw/emnist-letters-test-images-idx3-ubyte
data/EMNIST/raw/emnist-letters-test-labels-idx1-ubyte
data/EMNIST/raw/emnist-letters-train-images-idx3-ubyte
data/EMNIST/raw/emnist-letters-train-labels-idx1-ubyte
data/EMNIST/raw/emnist-mnist-test-images-idx3-ubyte
data/EMNIST/raw/emnist-mnist-test-labels-idx1-ubyte
data/EMNIST/raw/emnist-mnist-train-images-idx3-ubyte
data/EMNIST/raw/emnist-mnist-train-labels-idx1-ubyte
ch_6/PyTorch_MNIST_Network2_3layer_Sigmoid_CrossEntropy_3.ipynb
ch_6/PyTorch_MNIST_Network3_1Conv_1FC_CrossEntropy_3.ipynb
ch_6/PyTorch_MNIST_Network3_1Conv_1FC_CrossEntropy_ReLoad.ipynb
ch_6/PyTorch_MNIST_Network3_2Conv_1FC_CrossEntropy_2.ipynb
Project/data/EMNIST/raw/emnist-balanced-test-images-idx3-ubyte
Project/data/EMNIST/raw/emnist-balanced-test-labels-idx1-ubyte
Project/data/EMNIST/raw/emnist-balanced-train-images-idx3-ubyte
Project/data/EMNIST/raw/emnist-balanced-train-labels-idx1-ubyte
Project/data/EMNIST/raw/emnist-byclass-test-images-idx3-ubyte
Project/data/EMNIST/raw/emnist-byclass-test-labels-idx1-ubyte
Project/data/EMNIST/raw/emnist-byclass-train-images-idx3-ubyte
Project/data/EMNIST/raw/emnist-byclass-train-labels-idx1-ubyte
Project/data/EMNIST/raw/emnist-bymerge-test-images-idx3-ubyte
Project/data/EMNIST/raw/emnist-bymerge-test-labels-idx1-ubyte
Project/data/EMNIST/raw/emnist-bymerge-train-images-idx3-ubyte
Project/data/EMNIST/raw/emnist-bymerge-train-labels-idx1-ubyte
Project/data/EMNIST/raw/emnist-digits-test-images-idx3-ubyte
Project/data/EMNIST/raw/emnist-digits-test-labels-idx1-ubyte
Project/data/EMNIST/raw/emnist-digits-train-images-idx3-ubyte
Project/data/EMNIST/raw/emnist-digits-train-labels-idx1-ubyte
Project/data/EMNIST/raw/emnist-letters-test-images-idx3-ubyte
Project/data/EMNIST/raw/emnist-letters-test-labels-idx1-ubyte
Project/data/EMNIST/raw/emnist-letters-train-images-idx3-ubyte
Project/data/EMNIST/raw/emnist-letters-train-labels-idx1-ubyte
Project/data/EMNIST/raw/emnist-mnist-test-images-idx3-ubyte
Project/data/EMNIST/raw/emnist-mnist-test-labels-idx1-ubyte
Project/data/EMNIST/raw/emnist-mnist-train-images-idx3-ubyte
Project/data/EMNIST/raw/emnist-mnist-train-labels-idx1-ubyte
Project/data/EMNIST/raw/gzip.zip
Network_3/__pycache__/MNIST_Loader.cpython-39.pyc
Network_3/__pycache__/network2_EMNIST.cpython-39.pyc
Network_3/__pycache__/network2.cpython-39.pyc
Network_3/Results/Initial_Results.txt
Network_3/Results/network2_Results.txt
Network_3/Results/Parameters.txt
Network_3/Results/Test_Data_Results.txt
Network_3/EMNIST_Data_Set.py
Network_3/EMNIST_Dictionary.py
Network_3/EMNIST_Loader2.py
Network_3/EMNIST_plot_data.json
Network_3/EMNIST_plot_parameters.json
Network_3/HW4-1.pdf
Network_3/Initial_Results.txt
Network_3/MNIST_CrossEntropy.json
Network_3/MNIST_Loader.py
Network_3/MNIST_Loader.pyc
Network_3/net2_2_JSON_Run_Results.txt
Network_3/network2_EMNIST.py
Network_3/network2_Results.txt
Network_3/network2.py
Network_3/Parameters.txt
Network_3/Run_EMNIST_network2_2.py
Network_3/Run_EMNIST_Network2_test_data_2.py
Network_3/Run_Michael_Nielsen_MNIST_program_Network2.py
Network_3/Run_Network2_test_data_2.py
Pytorch_Walkthrough/Pytorch_Walkthrough.ipynb
Homework_5/Run_EMNIST_network2_2.py
Homework_5/Run_EMNIST_Network2_test_data_2.py
Homework_5/__pycache__/EMNIST_Loader2.cpython-39.pyc
Homework_5/__pycache__/network2_EMNIST.cpython-39.pyc
Network_3/Test_Data_Results.txt
Network_3/__pycache__/EMNIST_Loader2.cpython-39.pyc
conda-pytorch-slurm.bash
EMNIST_net.pth
EMNIST_plot_data.json
EMNIST_plot_parameters.json
ch_6/PyTorch_MNIST_Network3_2Conv_2FC_CrossEntropy_2.ipynb
data/EMNIST/raw/gzip.zip
EMNIST_data/emnist-balanced.pkl.gz
Homework_5/EMNIST_Loader2 copy.py
Homework_5/EMNIST_Loader2.py
Homework_5/EMNIST_network.json
Homework_5/EMNIST_plot_data.json
Homework_5/EMNIST_plot_parameters.json
Homework_5/JSON_Save_Network_2_Results
Homework_5/network2_2_Results.txt
Homework_5/network2_EMNIST.py
Homework_5/network2_test_data_results.txt
Project/EMNIST_net.pth
